@import "./styles.css";


/* ==================== PROYECTS SECTION ==================== */

.projects {
    background: var(--bg-color);
  }
  
  
  
  
  .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
  }
  
  
  
  .box img {
    width: 100%;
    height: auto;
    border-radius: 28px;
    margin-bottom: 1.4rem;
  }
  
  .box {
    background: var(--second-bg-color);
    border-radius: 28px;
    border: 3px solid transparent;
    box-shadow: 0 0 10px 0 var(--main-color);
    padding: 20px;
    transition: all .50s ease;
  }
  
  .main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .box h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
  }
  
  .box a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 3.5rem;
    border-radius: 50%;
    color: var(--text-color);
    background: var(--main-color);
  }
  
  .box h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
    color: var(--main-color);
  }
  
  .box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
  }